/* 
//TODO clean this area once we are sure is not affecting other areas 
*/
.layout-container {
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
}
.layout-container > header {
  margin: 0 auto;
  width: 85%;
  padding: 0 1em;
}
.layout-container > main {
  min-height: 77vh;
}

/* .layout-container > footer {
  grid-area: footer;
} */

.layout-container > footer {
  margin: 0 auto;
  width: 85%;
  padding: 0 1em;
}

/* @media only screen and (min-width: 320px) and (max-width: 1024px) {
  .layout-container {
    width: 100%;
  }
} */
