
.nav-style {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.5em auto;
}

nav-link {
    color: #f9f7f7;
    list-style: none;
}

.nav-link > li {
    margin-left: -1em;
}
.nav-link > li a{
    text-decoration: none;
    color: inherit;
}