@font-face {
    font-family: globalfont-alt;
    src: url(Cocomat-Light-trial.ttf);
}

@font-face {
    font-family: globalfont;
    src: url(D-DINCondensed.otf);
}


html, body {
    font-family: globalfont, monospace;
    min-height: 100%;
    background: white;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#layout {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
 
#layout > header {
  grid-area: header;
}
 
#layout > main {
  grid-area: main;
  padding: 15px 5px 10px 5px;
}
 
#layout > footer {
  grid-area: footer;
}

a {
    text-decoration: none;
}

/* NAVBAR */
#modal-menu li {
    margin-left: -1em;
}
#modal-menu li a{
    text-decoration: none;
    color: inherit;
}
.modal-backdrop {
    opacity: 0 !important;
}
.modal-dialog {
    margin-top: 0;
    margin-right: 8em;
}
.modal-content {
    width: auto;
    float: right;
}

/* INDEX BANNER*/
#index-banner {
    margin: 0 -28% !important;
}


/* GALERIE */
.artwork-container img {
    object-fit: contain !important;
}


/* FOOTER */
.footer li {
    list-style: none;
    margin-right: 12%;
}

/* FORM  */
.kontakt label input {
    width: 100%;

}
.kontakt label textarea {
    width: 100%;

}
/* iPads (portrait) AND Smartphones (portrait) ----------- */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    /* Styles */
    main {
        width: 100% !important;
    }
    #layout {
        width: 100% !important;
    }
    #navbar {
        margin: 0;
    }
    #index-banner {
        margin: 0;
        border: pink;
    }
    .modal-dialog {
    margin-right: 0.8em;
    }
    #index-container {
        width: 100% !important;
    }
    #bild-container {
        max-width: 100vw !important;
    }
    .galerie-list-box {
        width: 30vw !important;
        height: 30vw !important;
    }
    .galerie-image {
        width: 30% !important;
    }
    .artwork-container {
        flex-direction: column;
    }
    #artwork-image-container {
        width: 100% !important;
    }
    #artwork-description {

        margin: 1em 0.3em !important;
    }
    #ausstellungen {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    #ausstellungen-content {
        padding: 1em;
        grid-column: 1/3 !important;
    }
    .ausstellungen-textbox {
    }
    #einzelaustellungen {
        flex-direction: column;
    }
    .video-banner {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Styles */
    #galerie-list li {
        width: 75vw;
        height: 75vw;
    }
    .galerie-image {
        width: 100% !important;
    }
    #einzelaustellungen {
        padding: 3em 0.5em!important;
        grid-row: 2/3 !important;
    }
    #ausstellungsbeteiligungen {
        grid-column: 1/4 !important;
        grid-row: 3/4 !important;
        padding: 1em 0.5em !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles */

}
